/* KANJI CSS */
/* Imports
***************************************************************/
/* 
Kanji CSS

Reset
***************************************************************/
html,
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
header,
hgroup,
footer,
a,
p,
form,
fieldset,
ul,
li,
nav,
iframe {
  display: block;
  position: relative;
  margin: 0;
  padding: .25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
textarea,
select,
button,
label {
  display: inline-block;
}
.error {
  color: #e32222;
  background: #f7c0c0;
  border: 1px solid #e32222;
  margin: .5em 0;
  padding: .25em .5em;
}
.warn {
  color: #ff9605;
  background: #ffe3bb;
  border: 1px solid #ff9605;
  margin: .5em 0;
  padding: .25em .5em;
}
.info {
  color: #3c82fa;
  background: #eaf2fe;
  border: 1px solid #3c82fa;
  margin: .5em 0;
  padding: .25em .5em;
}
/* thanks to http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/ */
/* some helpers for basic css effects */
/* 
Kanji CSS

Segments
***************************************************************/
.halves,
.half,
.thirds,
.third,
.quarters,
.quarter,
.quarter + *,
.third + * {
  margin: .5em 0 0;
  padding: 0 .5em .5em;
}
/* Thirds
*************************************************************/
.third + * {
  width: 67%;
  float: left;
}
.thirds > *,
.third {
  width: 33%;
  float: left;
}
/* Quarters
*************************************************************/
.quarter + * {
  width: 75%;
  float: left;
}
.quarters > *,
.quarter {
  width: 25%;
  float: left;
}
/* Halves
*************************************************************/
.halves > *,
.half {
  width: 50%;
  float: left;
}
/* basic clearing of floats
*************************************************************/
.row,
.clear-all {
  clear: both;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: right;
}
.quarter + * + * {
  clear: both;
}
.halves:after,
.thirds:after,
.quarters:after,
.two-thirds:after,
.three-quarters:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* 
Kanji CSS

Typography - requires mixins
***************************************************************/
html {
  font-family: Arial, sans-serif;
  font-size: 100%;
}
h1 {
  font-size: 24px;
  font-size: 2.4rem;
}
h2 {
  font-size: 22px;
  font-size: 2.2rem;
}
h3 {
  font-size: 20px;
  font-size: 2rem;
}
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}
h5 {
  font-size: 16px;
  font-size: 1.6rem;
}
h6 {
  font-size: 14px;
  font-size: 1.4rem;
}
body {
  font-size: 12px;
  font-size: 1.2rem;
}
p {
  margin: .5em 0 0 0;
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em,
.italic {
  font-style: italic;
}
/* Firefox (Linux & OSX) renders font a little
   larger than expected... */
pre {
  padding: .25em;
  border: 1px solid #b2b2b2;
  overflow: auto;
}
code {
  font-size: 9px;
  font-size: 0.9rem;
  padding: 0 .4em;
  color: #8cefe6;
  border-left: 1px solid #b2b2b2;
  border-right: 1px solid #b2b2b2;
}
blockquote {
  color: #727272;
  background: #0c0c0c;
  border: 1px solid #727272;
  margin: .5em 0;
  padding: .25em .5em;
  margin: 0;
  padding: .7em;
  font-style: italic;
}
blockquote:before,
blockquote:after {
  content: "\"";
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.underline {
  text-decoration: underline;
}
/* 
Kanji CSS

Forms
***************************************************************/
fieldset {
  border: 1px dotted #727272;
  padding: 1em;
}
input[type='text'],
select {
  width: 75%;
  max-width: 200px;
}
input,
textarea,
button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
input:focus,
textarea:focus,
select:focus {
  -webkit-box-shadow: 0px 0px 5px #76ebe2;
  -moz-box-shadow: 0px 0px 5px #76ebe2;
  box-shadow: 0px 0px 5px #76ebe2;
}
button,
select {
  cursor: pointer;
}
button {
  border: 1px solid #0c0c0c;
  color: #b2b2b2;
  font-size: inherit;
  /* helps keeps button size logical in relation to page - particularly Safari/iOS */

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(top), color-stop(0.5, #727272), to(#0c0c0c));
  background-image: -webkit-linear-gradient(top, #727272, #0c0c0c);
  background-image: -moz-linear-gradient(top, #727272, #0c0c0c);
  background-image: -o-linear-gradient(top, #727272, #0c0c0c);
  background-image: linear-gradient(top, #727272, #0c0c0c);
}
.inline label,
.inline input,
.inline select,
.inline button {
  display: inline-block;
  margin: 0 .25em;
}
/* Basic Theme
**************************************************************/
body {
  background: #323232;
  color: #b2b2b2;
}
.kanji {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.kanji > header {
  background: #19b950;
  height: 7em;
  padding-top: 0;
}
.kanji > header > h1 {
  -webkit-text-shadow: 3px 3px 3px #107633;
  -moz-text-shadow: 3px 3px 3px #107633;
  -ms-text-shadow: 3px 3px 3px #107633;
  -o-text-shadow: 3px 3px 3px #107633;
  text-shadow: 3px 3px 3px #107633;
}
.kanji > footer {
  clear: both;
  background: #107633;
  height: 5em;
  padding-bottom: 0;
}
a {
  color: #b9f5f0;
}
/* Media Breaks
**************************************************************/
/* iPad Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .kanji {
    width: 90%;
  }
  .halves > *,
  .half,
  .three-quarters {
    width: 100%;
  }
  .thirds > *,
  .third,
  .quarters > *,
  .quarter {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .halves > *,
  .half,
  .quarter,
  .third,
  .three-quarters {
    width: 100%;
  }
  .thirds > *,
  .quarters > * {
    width: 50%;
  }
  .kanji {
    width: 100%;
    margin: 0;
    word-wrap: break-word;
  }
  .kanji > header {
    height: auto;
    min-height: 7em;
  }
  .kanji > footer {
    height: auto;
    min-height: 5em;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-family: Arial, sans-serif;
    font-size: 115%;
  }
  /* segments */
  .halves > *,
  .half,
  .thirds > *,
  .third,
  .quarters > *,
  .quarter,
  .three-quarters {
    width: 100%;
    float: none;
  }
  .halves,
  .half,
  .thirds,
  .third,
  .quarters,
  .quarter {
    padding: 0;
  }
  .halves:after,
  .thirds:after,
  .quarters:after,
  .clear {
    display: absolute;
  }
  nav {
    width: 100%;
    text-align: center;
  }
  nav > ul {
    width: 100%;
    float: left;
  }
  nav > ul > li {
    width: 100%;
    float: none;
    padding: 0;
  }
  nav > ul > li:last-child:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}
