/* 
Kanji CSS

Forms
***************************************************************/

fieldset{
	border: 1px dotted @support_color_med_light;
	padding: 1em;
}

input[type='text'], select{
	width: 75%;
	max-width: 200px;
}

input, textarea, button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

input:focus, textarea:focus, select:focus{

	.box_drop_shadow(0px, 0px, 5px, @secondary_color_dark);
}

button, select{
	cursor: pointer;
}

button{
	border: 1px solid @support_color_dark;
	color: @support_color_light;
	font-size: inherit; /* helps keeps button size logical in relation to page - particularly Safari/iOS */
	.bg_gradient;
}

button:hover{

	.bg_gradient(top, @support_color_med_light, @support_color_med_dark);
}

.inline label, .inline input, .inline select, .inline button{
	display: inline-block;
	margin: 0 .25em;
}