/* iPad Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	.kanji {

		width: 100%;
	}

	.kanji > * {
		padding: 2%;
	}

	.halves > *, .half, .three-quarters,
	.quarter + *, .third + * {

		width: 100%;
	}

	.thirds > *, .third,
	.quarters > *, .quarter{

		width: 100%;
	}
	
}