/* KANJI CSS */

/* Imports
***************************************************************/
@import "reset";
@import "mixins";
@import "segments";
@import "typography";

/* Basic Theme
**************************************************************/
body {

	background: @support_color;
	color: @support_color_light;
}

.kanji{

	width: 80%;
	margin: 0 auto;	
}

.kanji > header,
.kanji > div,
.kanji > footer{
	padding: 1%;
}

.kanji > header{

	background: @primary_color;
}

a {

	color: @secondary_color;
}

.kanji > footer{

	clear: both;
	background: @primary_color_dark;
	height: 5em;	
}

.billboard{

	height: 10em;
}