/* KANJI CSS */

/* Imports
***************************************************************/
@import "reset";
@import "mixins";
@import "segments";
@import "typography";

/* Basic Theme
**************************************************************/
body {

	background: @support_color;
	color: @support_color_light;
}

.kanji{

	width: 80%;
	margin: 0 auto;

	@media only screen and (max-width: 320px) { width: 100%; margin: 0;}
}

.kanji > * {

	padding: .5em;
}

.kanji > header{

	background: @primary_color;
	height: 7em;

	@media only screen and (max-width: 320px) { height: auto; min-height: 7em;}
}

.kanji > header > h1{

	.text_drop_shadow();
}

.kanji > footer{

	clear: both;
	background: @primary_color_dark;
	height: 5em;	

	@media only screen and (max-width: 320px) { height: auto; min-height: 5em;}
}

a {

	color: @secondary_color;
}
