/* 
Kanji CSS

Segments
***************************************************************/

.halves, .half, .thirds,
.third, .quarters, .quarter{

	margin: .5em 0 0;
	padding: 0 .5em .5em;
}


/* Thirds
*************************************************************/
.third + *{
	width: 67%;
	float: left;
}

.thirds > *, .third{

	width: 33%;
	float: left;
}

/* Quarters
*************************************************************/
.quarter + *{
	width: 75%;
	float: left;
}

.quarters > *, .quarter{

	width: 25%;
	float: left;
}


/* Halves
*************************************************************/
.halves > *, .half{

	width: 50%;
	float: left;
}


/* basic clearing of floats
*************************************************************/

.row,.clear-all{
	clear: both;
}

.clear-left{
	clear: left;
}

.clear-right{
	clear: right;
}


.halves:after,
.thirds:after,
.quarters:after,
.two-thirds:after,
.three-quarters:after{

   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   .clear-all;
}