/*
Kanji CSS

Segments
***************************************************************/
.halves > *, .half, .thirds > *,
.third, .quarters > *, .quarter,
.quarter + *, .third + *{

	margin:  0 0 .5rem;
	padding: 1em;
}


/* Thirds
*************************************************************/
.third + *{
	width: 67%;
	float: left;
}

.thirds > *, .third{

	width: 33%;
	float: left;
}

/* Quarters
*************************************************************/
.quarter + *{
	width: 75%;
	float: left;
}

.quarters > *, .quarter{

	width: 25%;
	float: left;
	word-break: break-all;
}


/* Halves
*************************************************************/
.halves > *,
.half,
.half + *{

	width: 50%;
	float: left;
}


/* basic clearing of floats
*************************************************************/

.row,.clear-all{
	clear: both;
}

.clear-left{
	clear: left;
}

.clear-right{
	clear: right;
}

.quarter + * + *{

	.clear-all;
}

.halves:after,
.thirds:after,
.quarters:after,
.two-thirds:after,
.three-quarters:after{

   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   .clear-all;
}