/* 
Kanji CSS

Segments
***************************************************************/

/* Side Rail(s)
**************************************************************/

.rail-section{
	display: table;
	width: 100%;
}

.rail-section > .rail,
.rail-section > .rail + *{
	float: none !important;
	display: table-cell;
}

.rail-section > .rail{

	vertical-align: top;
}

.rail-section > .rail > nav ul{

	list-style-type: none;
}

/* Halves
*************************************************************/
.halves > *, .half{

	width: 50%;
	float: left;
}


/* Thirds
*************************************************************/
.thirds > *, .third{

	width: 33%;
	float: left;
}

/* Quarters
*************************************************************/
.quarters > *, .quarter{

	width: 25%;
	float: left;
}

.halves, .half, .thirds,
.third, .quarters, .quarter,
.rail + * {

	margin: .5em 0 0;
	padding: 0 .5em .5em;
}

.halves:after,
.thirds:after,
.quarters:after,
.clear{

   content: ""; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* Phone Landscape */
@media only screen and (max-width: 320px) { 
	
	.rail-section,
	.rail-section > .rail,
	.rail-section > .rail + *{

		display: block;
	}

	.halves > *, .half,
	.thirds > *, .third,
	.quarters > *, .quarter{

		width: 100%;
		float: none;
	}

	.halves, .half, .thirds,
	.third, .quarters, .quarter,
	.rail + * {

		padding: 0;
	}

	.halves:after,
	.thirds:after,
	.quarters:after,
	.clear{	

		display: absolute;
	}

}

/* Phone landscape */
@media only screen and (max-width: 480px) { 
	
	.halves > *, .half,
	.thirds > *, .third,
	.quarters > *, .quarter{

		width: 50%;
	}
}

/* iPad Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.halves > *, .half,
	.thirds > *, .third,
	.quarters > *, .quarter{

		width: 50%;
	}
}