/* 
Kanji CSS

Typography - requires mixins
***************************************************************/
html{
	font-family: Arial, sans-serif;
	font-size: 62.5%;
}

h1{

	.font_size(5);
}

h2{

	.font_size(4.5);
}

h3{

	.font_size(4);
}

h4{

	.font_size(3.5);
}

h5{

	.font_size(3);
}

h6{

	.font_size(2.5);
}

body{

	.font_size(1.8);
}

a{
	
	text-decoration: none;
}

strong{

	font-weight: bold;
}

em{
	font-style: italic;
}